@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Space+Grotesk:wght@500&display=swap");

body {
  /* background-color:rgb(169, 169, 169); */
  background-image: url("https://images.pexels.com/photos/733761/pexels-photo-733761.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Space Grotesk', sans-serif;
}

h1,
h2,
p {
  text-align: center;
}

.tea-menu {
  width: 80%;
  max-width: 500px;
  background-color: rgba(169, 169.169);
  background-color: rgba(255, 166, 0, 0.199);
  margin-left: auto;
  margin-right: auto;
  /* padding-right: 20px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px; */
  padding: 20px;
}

.established {
  font-style: italic;
}

.tea-items p {
  /* background-color: darkgoldenrod; */
  display: inline-block;
  font-weight: 400;
}

.tea-flavor, .collections-flavor {
  width: 75%;
  /* background-color: chartreuse; */
  text-align: left;
}

.tea-price, .collections-price {
  width: 25%;
  /* background-color: blanchedalmond; */
  text-align: right;
}