h1, h2, p {
    text-align: center;
}

body {
    background-color:rgb(169, 169, 169);
}

div{
    width: 80%;
    background-color: rgba(169,169.169);
    background-color: orange;
    margin-left: auto;
    margin-right: auto;
}