@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Space+Grotesk:wght@500&display=swap");

body {
  /* background-color:rgb(169, 169, 169); */
  background-image: url('https://images.pexels.com/photos/904616/pexels-photo-904616.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Space Grotesk', sans-serif;
  padding: 20px;
}

h1,
h2,
p {
  text-align: center;
}

h1{
  font-size: 40px;
  margin: 0;
}

h2 {
  font-size: 35px;
}

.top-line, .bottom-line {
  height: 2px;
  background-color: rgba(255, 127, 80, 0.897);
  border-color: rgb(136, 95, 5);
  box-shadow: 90px 54px 19px -5px rgb(232, 147, 87);
  -webkit-box-shadow: 90px 54px 19px -5px rgb(232, 147, 87);
  -moz-box-shadow: 90px 54px 19px -5px rgb(232, 147, 87);
}
.top-line {
  margin-top: 25px;
}

.bottom-line {
  margin-top: 25px;
  margin-bottom: 30px;
}

.tea-menu {
  width: 80%;
  max-width: 500px;
  background-color: rgba(169, 169.169);
  background-color: rgba(255, 166, 0, 0.199);
  margin-left: auto;
  margin-right: auto;
  /* padding-right: 20px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px; */
  padding: 20px;
}

.established {
  font-style: italic;
}

.tea-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  /* display: block; */
  height: 50px; width: 50px;
  margin: auto 5px;
}

.tea-items p {
  /* background-color: darkgoldenrod; */
  display: inline-block;
  font-weight: 400;
  margin: 5px 0px;
}

.tea-flavor, .collections-flavor {
  width: 75%;
  /* background-color: chartreuse; */
  text-align: left;
}

.tea-price, .collections-price {
  width: 25%;
  /* background-color: blanchedalmond; */
  text-align: right;
}

footer {
  font-size: 14px;
}

a {
  color: black;
}

a:visited {
  color: white;
}

a:hover {
  color: rgb(250, 30, 1);
}

a:active {
  color: yellow;
}