h1,
h2,
p {
  text-align: center;
}

body {
  /* background-color:rgb(169, 169, 169); */
  background-image: url("https://images.pexels.com/photos/733761/pexels-photo-733761.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    background-repeat: no-repeat;
}

.tea-menu {
  width: 80%;
  background-color: rgba(169, 169.169);
  background-color: rgba(255, 166, 0, 0.199);
  margin-left: auto;
  margin-right: auto;
}

.tea-items {
    background-color: darkgoldenrod;
    display: inline-block;
}

.tea-flavor {
    text-align: left;
}

.tea-price {
    text-align: right;
}
